.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.played-card {
  background-color: #66bb6a;
}

.card-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.player-image {
  width: auto;
  height: 150px;
}

.img-fluid {
  transform: scaleX(-1);
}

.card {
  width: 300px;
  margin: 0.25rem;
}

.card-body {
  flex-direction: column;
  align-items: center;
}

.ButtonCapacity1,
.ButtonCapacity2 {
  justify-content: space-around;
  width: 100%;
  margin-top: 10px; 
  margin-bottom: 10px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.btn {
  margin-bottom: 5px;
}

.damage-animation {
  animation: shakeAnimation 1s ease-in-out;
}

.shake {
  animation: shakeAnimation 0.5s ease-in-out;
}

@keyframes shakeAnimation {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(-5px, 0);
  }
  50% {
    transform: translate(5px, 0);
  }
  75% {
    transform: translate(-5px, 0);
  }
  100% {
    transform: translate(5px, 0);
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.fa-fire-alt {
  color: #0044ff;
}

.fa-heart {
  color: rgb(255, 0, 0);
}

.manaShow {
  color: #9fddfa;
}

.icon-text {
  color: white;
}

.healShow {
  color: rgb(246, 191, 191);
}

.btn {
  padding: 0.1em 0.2rem !important;
}

.fa-bomb {
  color: black;
}


body {
  background-color: #232323;
}

.selected {
  background-color: #212121;
}

.badge-danger {
  position: absolute;
  font-size: 30;
}

.custom-progress-bar {
  height: 20px;
}

.progress-bar {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  background-color: #007bff;
  transition: width 0.6s ease;
  height: 100%;
}

.bg-danger {
  background-color: #ff3547 !important;
  height: 100%;
}

/* Monster */

.hidden-video {
  display: none;
}

.visible {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999; /* Pour s'assurer que la vidéo est au-dessus de tout */
}


.hidden {
  display: none;
}

@keyframes shakeAndBlinkAnimation {
  0%, 100% {
    transform: translate(0, 0);
    opacity: 1;
  }
  25% {
    transform: translate(-5px, 0);
    opacity: 0;
  }
  50% {
    transform: translate(5px, 0);
    opacity: 1;
  }
  75% {
    transform: translate(-5px, 0);
    opacity: 0;
  }
}

.blink {
  animation: shakeAndBlinkAnimation 1s infinite;
}
